<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
  
  <targets>
    <target name="TcpOutlet" xsi:type="NLogViewer" address="tcp4://localhost:4505"/>
    <target name="display" xsi:type="RichTextBox" controlName="richTextBox1" formName="RecorderView" useDefaultRowColoringRules="true" autoScroll="true" maxLines="512" layout="${time} | ${Threadid} | ${level} | ${logger} | ${message}" />
    <!--<target name="logfile" xsi:type="File" fileName="log.txt" layout="${longdate} | ${Threadid} | ${level} | ${logger} | ${message}" />-->
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="display" >
      <filters>
        <!--<when condition="length(message) > 100" action="Ignore" />-->
        <!--<when condition="equals('${logger}','MyApps.SomeClass')" action="Ignore" />-->
        <!--<when condition="(level >= LogLevel.Debug and contains(message,'PleaseDontLogThis')) or level==LogLevel.Warn" action="Ignore" />-->
        <!--<when condition="not starts-with('${message}','PleaseLogThis')" action="Ignore" />-->
      </filters>
    </logger>
    <logger name="*" minlevel="Info" writeTo="TcpOutlet" />
    <!--<logger name="*" minlevel="Trace" writeTo="logfile" />-->
    <!--<logger name="Capture.Recorder.WCF" minlevel="Info" writeTo="display" />-->
  </rules>
</nlog>
